body {
    margin: 50px 40%;
    width: 70%;
    color: #31326f;
}


.battleship {
    position: relative;
    width: 800px;
    height: 800px;

}

.gridSquare {
    position: absolute;
    box-sizing: border-box;
    border: 1px solid gray;
    width: 40px;
    height: 40px;
    padding: 10px;
    background-color: #9ddfd3 ;
    color: #31326f;
}
